html,
body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: var(--ui-background);
  color: var(--ui-foreground);
}
*,
*::before,
*::after {
  animation: none !important;
  transition: none !important;
  caret-color: transparent !important;
}
